*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #e1eec3, #f05053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.timer{
    width: 500px;
    height: 100px;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    >span{
        margin: 10px;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        box-shadow: 1px 1px 5px gray;
        cursor: pointer;
        border-radius: 50%;
        user-select: none;
        position: relative;
        >span{
            transition: 1s;
            position: absolute;
            // top: 50%;
            // left: 50%;
            width: 95%;
            height: 95%;
            background-color: white;
            border-radius: 100%;
            transform: scale(0);
            // &:nth-of-type(1){
            //     transform: scale(1)translate(-50% , -50%);
            // }
        }
      
       
    }
   
}
.window{
    width: 700px;
    height:500px;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    display: flex;
    >span{
        position: absolute;
        color: rgb(99, 83, 83);
        top: 50%;
        font-size: 40px;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        opacity: 0;
        &:nth-of-type(1){
            right: 3%;  
            animation: right alternate infinite linear 1s;
        }
        &:nth-of-type(2){
            left: 3%;  
            animation: left alternate linear infinite 1s;
            display: none;
        }
    }
    @keyframes right {
        to{
            opacity: 1;
            right: 1%;
        }
    }
    @keyframes left {
        to{
            opacity: 1;
            left: 1%;
        }
    }
    >.buss{
        height: 100%;
        // border: 1px solid red;
        display: flex;
        transition: .7s;
        >figure{
            height: 100%;
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    >.firstimg{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        // border: 1px solid red;
        // z-index: 2;
        >figure{
            height: 100%;
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }
}
}
